@page "/PatientData/PatientEdit/{PatientId}"

@inject NavigationManager NavigationManager
@inject IPatientData Database

@if (Patient is null)
{
    <p><em>Loading Patient...</em></p>
}
else
{
    <h3>Edit Patient Details</h3>
    <EditForm Model="_patientEditModel" OnValidSubmit="@InsertPatient">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label class="col-sm-2 col-form-label">First Name</label>
            <InputText id="firstName" @bind-Value="_patientEditModel.FirstName"/>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Last Name</label>
            <InputText id="lastName" @bind-Value="_patientEditModel.LastName"/>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Address</label>
            <InputText id="address" @bind-Value="_patientEditModel.Address"/>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Contact Number</label>
            <InputText id="contactNumber" @bind-Value="_patientEditModel.ContactNumber"/>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Email Address</label>
            <InputText id="emailAddress" @bind-Value="_patientEditModel.Email"/>
        </div>
        <div class="form-group">
            <label class="col-sm-2 col-form-label">Date of Birth</label>
            <InputDate id="dateOfBirth" @bind-Value="_patientEditModel.DateOfBirth"/>
        </div>

        <button type="submit" class="btn btn-primary">Save Patient</button>
        <button class="btn btn-primary" @onclick="BackToPatient">Back</button>
    </EditForm>
}

@code {
    [Parameter]
    public string PatientId { get; set; }
    private PatientModel Patient { get; set; }
    private PatientAddModel _patientEditModel = new PatientAddModel();

    protected override async Task OnInitializedAsync()
    {
        var patientId = int.Parse(PatientId);
        var data = await Database.GetPatient(patientId);
        Patient = data.FirstOrDefault();
        MapEditModel();
    }

    private void MapEditModel()
    {
        _patientEditModel.DateOfBirth = Patient.DateOfBirth;
        _patientEditModel.Address = Patient.Address;
        _patientEditModel.ContactNumber = Patient.ContactNumber;
        _patientEditModel.Email = Patient.Email;
        _patientEditModel.FirstName = Patient.FirstName;
        _patientEditModel.LastName = Patient.LastName;
    }
    private async Task InsertPatient()
    {
        PatientModel patient = new PatientModel()
        {
            Id = int.Parse(PatientId),
            FirstName = _patientEditModel.FirstName,
            LastName = _patientEditModel.LastName,
            Address = _patientEditModel.Address,
            ContactNumber = _patientEditModel.ContactNumber,
            Email = _patientEditModel.Email,
            DateOfBirth = _patientEditModel.DateOfBirth.Date
        };

        await Database.UpdatePatient(patient);
        //wipe out patient model
        _patientEditModel = new PatientAddModel();
        BackToPatient();
    }

    private void BackToPatient()
    {
        NavigationManager.NavigateTo("/Patients");
    }

}
