@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <AuthorizeView>
            <Authorized>
                <button class="btn btn-link" id="logout" @onclick="Logout">Logout</button>
            </Authorized>
            <NotAuthorized>
                <a href="/login">Login</a>
            </NotAuthorized>
        </AuthorizeView>

    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    public void Logout()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).LogoutUser();
        NavigationManager.NavigateTo("/");
    }
}
